*{
    color: white;
    font-family: "arial black";
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(36, 32, 32);
}


img{
    height: 20px;
    width: 20px;
    position: relative;
    right: 10px;
    top: 3px;
}

li{
    list-style: none;
}


.container{
    background: linear-gradient(to left, rgba(195, 9, 9, 0.5), rgba(189, 54, 54, 0.5)), url(bg.jpg);
    height: 950px;
    width: 650px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.group{
    padding-top: 30px;
    flex-basis: 250px;
}

.title{
    border-bottom: 1px solid white;
    text-align: center;
}


